.all-O-4 {
    height: 1000px;
}
.img1 {
    width: 210px;
    height: 70px;
    margin: 42px 0px 0px 54px;
    background-color: azure;
    border-radius:10px;
}
.obj-O-4-1 {
    margin-left: 70%;
}
.O-4-txt {
    margin-left: 15%;
    margin-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.O-4-sv {
    color: black;
    text-decoration: none;
    background-color: aliceblue;
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60%;
    border-radius: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.O-4-sv:hover {
    background-color: rgb(105, 185, 255);
    transition: 0.7s;
}
@media screen and (max-width:480px) {
    .all-O-4 {
        height: 800px;
    }
    .img1 {
        display: none;
    }
    .obj-O-4-1 {
        width: 160px;
        height: 100px;
    }
    .O-4-txt {
        margin-top: 100px;
        margin-left: 20px;
        font-size: smaller;
    }
    .O-4-sv {
        margin-top: 50px;
        margin-left: 100px;
    }
}