.img1 {
    width: 210px;
    height: 70px;
    margin: 42px 0px 0px 54px;
    background-color: azure;
    border-radius:10px;
}
.O-all-1 {
    height: 1300px;
}
.O-1-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin-left: 300px;
    padding-top: 200px;   
}
.O-txt {
    color: rgb(0, 42, 255);
}
.O-img-1 {
    width: 200px;
    height: 200px;
    margin-left: 70%;
    margin-top: -160px;
}
/* .O-1-2 {
    color: black;
    text-decoration: none;
    background-color: aliceblue;
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60%;
    border-radius: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.O-1-2:hover {
    background-color: rgb(105, 185, 255);
    transition: 0.7s;
} */
/* .det {
    margin-top: 5%;
    margin-left: 60%;
    margin: 0px 0px 50px 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    transition-duration:inherit;
} */
.O-4-sv {
    color: black;
    text-decoration: none;
    background-color: aliceblue;
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60%;
    border-radius: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.O-4-sv:hover {
    background-color: rgb(105, 185, 255);
    transition: 0.7s;
}
    @media screen and (max-width:480px) {
        .O-all-1 {
            height: 900px;
        }
        .img1 {
            display: none;
        }
        .O-img-1 {
            width: 100px;
            height: 100px;
        }
        .O-1-1 {
            margin-top: -80px;
            margin-left: 20px;
            font-size: smaller;
        }
        .O-4-sv {
            margin-top: 100px;
            margin-left: 100px;
        }
}